<div class="cards">

    <div class="cards__item">
        
        <h2 [ngStyle]="{
            color: (card.title.length>8) ? 'blue' : 'green',
            textDecoration: (card.title.length>8) ? 'none' : 'underline'
        }"
        [ngClass]="textColor"
        >{{ index }} {{ card.title }}</h2>

        <p [class.orange]="textColor === 'orange'">{{ card.desc }}</p>
        <p>{{ cardDetail | json }}</p>
        <p>{{ getNotification() }}</p>
        <div>
            <button [disabled]="disabledLeftButton" class="button-left" (click)="onClickLeftButton($event)">Toggle left</button>
            &nbsp;
            <button [disabled]="disabledRightButton" class="button-right" (click)="onClickRightButton($event)">Toggle right</button>
        </div>
        
        <p>Баиндинг, двухсторонний без сылки
            <input type="text" (input)="onChangeInput($event)" [value]="card.title">
        </p>
        <p>
            Баиндинг, двухсторонний через сыслку
            <input type="text" #refInput (input)="onChangeRefInput(refInput.value)" [value]="card.title"></p>

        <p>Баиндинг, двухсторонний через модель
           <input type="text" [(ngModel)]="card.title"></p>
     
           <button (click)="textColor = 'orange'">Change text color</button>


    </div>
    
</div>