.main-column {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;    
    }
    .main-column__aside {
        flex-shrink: 0;
        border-right: 1px solid #ccc;    
        padding: 10px;
        }
    .main-column__content {
        flex-shrink: 0;
        flex-grow: 1; 
        padding: 10px;       
        }        